<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="@routes.Assets.at("images/favicon.png")">

        <title>Browse Roommates</title>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

            <!-- Custom styles for this template -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/browseUsers.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

</head>
<body>


<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- First person-->
<div class="container" id="item1" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
        <div class="col-md-4 bg_blur ">
            <a href="#" class="follow_btn hidden-xs">Message</a>
        </div>
        <div class="col-md-8  col-xs-12">
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
            <div class="header">
                <h1>Lauren Davenport</h1>
                <h4>Web Developer</h4>
                <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
            </div>
        </div>
    </div>

    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>
</div>

    <hr>
        <!-- Second person-->
<div class="container" id="item2" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
        <div class="col-md-4 bg_10Sullivan">
            <a href="#" class="follow_btn hidden-xs">Message</a>
        </div>
        <div class="col-md-8  col-xs-12">
            <img src="@routes.Assets.at("images/userProfilePics/Megan.png")" class="img-thumbnail picture hidden-xs" />
            <img src="@routes.Assets.at("images/userProfilePics/Megan.png")" class="img-thumbnail visible-xs picture_mob" />
            <div class="header">
                <h1>Megan Puhl</h1>
                <h4>Consultant</h4>
                <span>28yo woman and husband looking to live with third friend. Clean, sharer, great cook, very giving.
                    <br> "It's my birthday, biotch!"</span>
            </div>
        </div>
    </div>

    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>
</div>

    <hr>
    <!-- Third person-->
<div class="container" id="item3" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
        <div class="col-md-4 bg_google ">
            <a href="#" class="follow_btn hidden-xs">Message</a>
        </div>
        <div class="col-md-8  col-xs-12">
            <img src="@routes.Assets.at("images/userProfilePics/Simone.jpg")" class="img-thumbnail picture hidden-xs" />
            <img src="@routes.Assets.at("images/userProfilePics/Simone.jpg")"  class="img-thumbnail visible-xs picture_mob" />
            <div class="header">
                <h1>Simone Berkower</h1>
                <h4>Entrepreneur</h4>
                <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
            </div>
        </div>
    </div>

    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>
</div>

</body>
</html>